name: Release

on:
    workflow_dispatch:
    schedule:
        - cron: "0 0 * * 5"

permissions:
    contents: write
    issues: write
    pull-requests: write

jobs:
    release:
        name: Release
        runs-on: ubuntu-latest
        env:
            HUSKY: 0
        steps:
            - name: Checkout
              uses: actions/checkout@v5
              with:
                  fetch-depth: 0
            - name: Setup Node.js
              uses: actions/setup-node@v5
              with:
                  node-version: 20.19.5
            - name: Install dependencies
              run: npm ci
            - name: Build
              run: npm run --if-present build
            - name: Release
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                  NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
              run: |
                  npm config set access public
                  npm install --no-save "@forsakringskassan/semantic-release-monorepo-config"
                  npm exec semantic-release
